Adding command to top of code & Modified

In [ ]:
#first change 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('tendulkar_ODI.csv', index_col=0)
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
1,0,-,2,0,0,0,5,caught,2,v Pakistan,Gujranwala,18-Dec-89
2,0,2,2,0,0,0,5,caught,2,v New Zealand,Dunedin,1-Mar-90
3,36,51,39,5,0,92.3,6,caught,1,v New Zealand,Wellington,6-Mar-90
4,19,38,35,1,1,54.28,4,bowled,2,v England,Leeds,18-Jul-90
5,31,31,26,3,0,119.23,6,bowled,2,v England,Nottingham,20-Jul-90

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 295 entries, 1 to 295
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Runs        295 non-null    object
 1   Mins        295 non-null    object
 2   BF          295 non-null    object
 3   4s          295 non-null    object
 4   6s          295 non-null    object
 5   SR          295 non-null    object
 6   Pos         295 non-null    object
 7   Dismissal   295 non-null    object
 8   Inns        295 non-null    object
 9   Opposition  295 non-null    object
 10  Ground      295 non-null    object
 11  Start Date  295 non-null    object
dtypes: object(12)
memory usage: 30.0+ KB

In [ ]:
df['Mins'].unique()

In [ ]:
df['Runs'] = pd.to_numeric(df['Runs'], errors='coerce')
df = df.dropna(subset=['Runs'])
df['Mins'] = df['Mins'].replace('-', 0).astype(int)

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
plt.hist(df['Runs'], bins=[0, 10, 20, 30, 40, 50, 60, 100], color='blue', edgecolor='black')

In [ ]:
plt.hist(df['4s'], bins=50, color='blue', edgecolor='black')

In [ ]:
df['Runs'].quantile([0.25, 0.5, 0.75])

In [ ]:
sns.boxplot(y=df['Runs'])

In [ ]:
plt.scatter(df['Mins'], df['Runs'])